body {
  background-color: black;
  margin: 0;
}

.box {
  padding: 10px;
  background-color: #ddd;
}

.yellow_box {
  background-color: #ffa500;
  padding: 10px;
}

.red_border {
  border: 1px solid #e75551 ;
}

#qa-block {
  margin-top: 20px;
}

.blue_box {
  box-sizing: border-box;
  margin: 0 20px 40px;
  padding: 10px;
  width: 350px;
  background-color: #308dc0;
}
